.new-arrivals {
  padding: 100px 100px 120px 200px;
  border-top: 1px solid var(--light-text);

  h1 {
    font-size: 2rem;
    text-align: center;
    margin: 1rem 0 2rem;
    text-shadow: 0 0 12px var(--color-bg);
  }

  .products {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}

// ************** Media Queries ***************

@media screen and (max-width: 992px) {
  .new-arrivals {
    padding: 80px 50px 100px 50px;
  }
}

@media screen and (max-width: 576px) {
  .new-arrivals {
    padding: 80px 30px 100px 30px;
  }
}
